[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
regex = "*"
aoc-helper = "*"
boto3 = "*"
pyqtgraph = "*"
pyqt6 = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.11"
